.App {
    font-family: sans-serif;
    text-align: center;
  }
  .block {
    background-color: #2117a6;
    width: 70px;
    height: 70px;
    border: 2px solid  #00004d;;
    margin: 0;
    padding: 0;
    border-radius:10px
  }
  
  .input-field {
    width: 74px;
    height: 74px;
    outline: none;
    margin: 0;
    padding: 0;
    border: 2px solid #00004d;
    position: relative;
    border-radius:10px;
    font-size:20px;
    font-weight:bold;
  }
  
  .select {
    border: 5px solid #00004d;
  }
  
  .color {
    background-color: blueviolet;
  }
  
  .gold {
    background-color: gold;
  }
  
  .startButton {
    position: absolute;
    top: 2px;
    left: 2px;
  }
  .flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .padding-wrapper{
    padding: 20px;
  }

  .list-item{
    font-size: 25px;
    color:white
  }